/********************** StyleReset ***************************/
@font-face {
    font-family: 'iran';
    src: url('../font/IRANSans-Bold-web.eot');
    src: url('../font/IRANSans-Bold-web.eot?#iefix') format('eot'), url('../font/IRANSans-Bold-web.woff') format('woff');
    font-weight: bold;
}
@font-face {
    font-family: 'iran';
    src: url('../font/IRANSans-Medium-web.eot');
    src: url('../font/IRANSans-Medium-web.eot?#iefix') format('eot'), url('../font/IRANSans-Medium-web.woff') format('woff');
    font-weight: 500;
}
@font-face {
    font-family: 'iran';
    src: url('../font/IRANSans-web.eot');
    src: url('../font/IRANSans-web.eot?#iefix') format('eot'), url('../font/IRANSans-web.woff') format('woff');
    font-weight: normal;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: iran, tahoma;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
textarea,
button,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
i,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
menu,
nav,
section,
time,
mark,
audio,
video,
select {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    direction: rtl;
    background: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

table {
    border-collapse: collapse
}

article,
aside,
figure,
footer,
header,
nav,
section {
    display: block;
    text-align: right;
}
a {
    text-decoration: none;
    color: #000;
}
ul {
    list-style: none;
}
ul li {
    list-style: none;
}
.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}
.clearfix:after {
    clear: both;
}
/***************** PublicStyle ********************/
body {
    background-color: #fff;
    font: normal 12px iran, tahoma;
    color: #546e7a;
}
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}
.ltr {
    direction: ltr;
}
div.wrapper,
section.wrapper {
    width: 1170px;
    margin: 0 auto;
    position: relative;
}
.inputbox {
    border: 2px solid #999;
    border-radius: 5px;
    padding: 7px;
}
.inputbox:hover {
    border-color: #888;
}
.inputbox:focus {
    border-color: #0078d7;
}
.container {
    width: 982px;
    margin: 0 auto;
}
.visitor_page{
    margin-bottom: 2em;
}
button:hover {
    cursor: pointer;
}
.pull_right {
    float: right;
}
.pull_left {
    float: left;
}
li.login_button{
    float: none !important;
    margin-right: 0 !important;
    padding: 0 !important;
}
.btn{
    padding:7px 10px !important;
    color: #ffffff !important;
    width:auto !important;
    font-size: 12px !important;
    border-bottom: none !important;
    float: left !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    margin-right: 15px;
    font-weight:normal !important;
}
.btn_blue{
    background: #00a8c8  url("../img/return13.svg") ;
    background-repeat: no-repeat !important;
    background-position: left 10px center !important;
    background-size: 18px !important;
    padding:7px 20px !important;
    -moz-box-shadow: 0px 3px 0px #097db7;
    -webkit-box-shadow: 0px 3px 0px #097db7;
    box-shadow: 0px 3px 0px #097db7;
    transition: all .5s;
}
.btn_blue span{
    margin-left: 20px;
}
.btn_blue:hover{
    background: #097db7 url("../img/return13.svg") !important;
    background-repeat: no-repeat !important;
    background-position: left 10px center !important;
    background-size: 18px !important;
}
    /********************** VisitorHeader ***************************/
header.header_loginPage {
    background: transparent url('../img/transparent_flower.png') top center no-repeat;
    height: 49px;
}
a.logo_visitorPage figure{
    width: 20%;
    margin: 0 auto;
}
.logo_visitorPage_wrapper {
    margin: 10px 0;
}
/***************************LoginPage****************************/
div.visitor_page section.visitor_page_box {
    width: 640px;
    margin: 1em auto;
}
div.visitor_page section.visitor_page_box header.visitor_page_header {
    margin: 0 100px 8px;
}
div.visitor_page section.visitor_page_box header.visitor_page_header h3 {
    color: #00a8c8;
    font-size: 18px;
    font-weight: bold;
}
div.visitor_page section.visitor_page_box main.visitor_page_main p.visitor_page_title {
    color: #546e7a;
    position: relative;
    font-weight: bold;
    font-size: 14px;
    margin: 23px 26px;
}
div.visitor_page section.visitor_page_box main.visitor_page_main p.visitor_page_title:after {
    content: "";
    border-bottom: #cfd8dc 1px solid;
    position: absolute;
    right: 120px;
    left: 0;
    top: 14px;
}
div.visitor_page section.visitor_page_box main.visitor_page_main form {
    margin: 23px 26px;
}
div.login_page section.visitor_page_box li.user_name_loginPage input {
    background: #fff url('../icons/login.png') no-repeat left center;
    background-origin: content-box;
}
div.login_page section.visitor_page_box li.pass_loginPage input {
    background: #fff url('../icons/pass.png') no-repeat left center;
    background-origin: content-box;
}
div.login_page section.visitor_page_box li.email_loginPage input {
    background: #fff url('../icons/email.png') no-repeat left center;
    background-origin: content-box;
}
li.reset_pass_title p{
    line-height: 1.75;
}
.input_loginPage {
    width: 100%;
    padding: 8px;
    background-color: #fff;
    margin-top: 26px;
    border: 1px solid #cfd8dc;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
main.visitor_page_main {
    background-color: #eceff1;
    border: 1px solid #cfd8dc;
    margin: 0 100px;
}
.login_captcha input {
    width: 42%;
    float: right;
}
.login_captcha  div.retry{
    float:right;
    margin-right:40px;
    margin-top: 15px;
    cursor: pointer;
}
.login_captcha div.retry img{
    width: 16px;
    height: 16px;
}
.login_captcha img {
    float: left;
    margin: 16px 0 0 0;
    width: 150px;
    height: 40px;
}
div.login_page section.visitor_page_box main.visitor_page_main li.remember_me {
    margin-top: 15px;
}
div.login_page section.visitor_page_box main.visitor_page_main li.remember_me label {
    color: #546e7a;
    font-size: 12px;
}
div.visitor_page section.visitor_page_box main.visitor_page_main li.btn {
    margin-top: 20px;
}
.btn {
    width: 100%;
    padding: 7px 0;
    text-align: center;
    color: #fff;
    font: bold 14px iran;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.btn_login_wrapper{
    margin: 20px 0 10px;
}
.button_loginPage {
    float: right;
    background-color: #00a8c8;
    color: #fff;
    padding: 7px 25px;
    border: none;
    cursor: pointer;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
div.login_page section.visitor_page_box main.visitor_page_main li.forgot_password {
    margin-top: 10px;
}
div.login_page section.visitor_page_box main.visitor_page_main li.forgot_password a {
    color: #00a8c8;
    font-size: 12px;
}
div.visitor_page section.visitor_page_box p.register_login_link {
    background-color: #f6f7f8;
    padding: 15px 26px;
    border-top: 1px solid #cfd8dc;
    color: #546e7a;
    font-weight: bold;
    font-size: 14px;
}
div.visitor_page section.visitor_page_box p.register_login_link a {
    color: #00a8c8;
    margin-right: 5px;
}
footer.visitor_page_footer {
    margin-top: 55px;
    text-align: center;
}
footer.visitor_page_footer a, footer.visitor_page_footer a {
    color: #546e7a;
}
footer.visitor_page_footer a:after {
    content: "|";
    margin-right: 15px;
    margin-left: 15px;
}
footer.visitor_page_footer a:last-child:after {
    content: "";
}
.confirmation_register {
    background-color: #81c784;
    padding: 20px;
}
.error_register{
    background-color: #c62828;
    padding: 20px;
}
.confirmation_register p {
    color: #fff;
}
.error_register p{
    color: #fff;
}
/*********************ResetPass************************/
div.visitor_page section.visitor_page_box main.visitor_page_main form {
    margin: 23px 26px;
}



/*********************validDirective************************/
.inputError {
    border: 2px solid #cd0a0a !important;
    border-radius: 5px;
    padding: 7px;
    box-shadow: none;
}

.inputError:hover {
    border-color: #888;
}

.inputError:focus {
    border-color: #0078d7;
}

select.inputError {
    border: 2px solid #cd0a0a;
    border-radius: 5px;
    padding: 7px;
    width: 100%;
    color: #999;
}
div.error {
    position: relative;
    top: 0;
}

div.error p {
    position: absolute;
    top: 0;
    color: #cd0a0a;
    left: 0;
    right: 0;
    line-height: 1.75 !important;
}