<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <script src="../lib/angular/angular.min.js"></script>
    <script src="../lib/jquery-2.1.3.min.js"></script>
    <script src="directive/directiveValidate.js"></script>
</head>
<body ng-controller="myCtrl">
<header class="header_loginPage clearfix"></header>
<div class="container visitor_page login_page clearfix" id="Total">
    <form class="form" role="form" name="loginForm">
        <ul>
            <li class="company_number user_name_loginPage">
                <input type="text" id="username" ng-model="vm.user.username" class="input_loginPage"
                       placeholder="username" valid-directive="isEmpty,isUsername"/>
            </li>
            <li class="company_number user_name_loginPage">
                <input type="text" id="password" ng-model="vm.user.password" class="input_loginPage"
                       placeholder="password" valid-directive="isEmpty,isPassword,setPass"/>
            </li>
            <li class="company_number user_name_loginPage">
                <input type="text" id="re_password" ng-model="vm.user.re_password" class="input_loginPage"
                       placeholder="re_password" valid-directive="isEmpty,isPassword,setPass"/>
            </li>
            <li class="company_number email_loginPage">
                <input type="text" id="email" ng-model="vm.user.email" class="input_loginPage"
                       placeholder="email" valid-directive="isEmpty,isEmail"/>
            </li>
            <li class="btn_login_wrapper clearfix">
                <button valid-directive="click" click = "register" for="#Total" class="button_loginPage">register</button>
            </li>
        </ul>

    </form>
</div>
</body>
</html>